In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['Image', 'class_label'])

In [3]:
df

Empty DataFrame
Columns: [Image, class_label]
Index: []

In [28]:
img = ['img4','img5','img6']
label = ['4', '5', '6']
a = list(zip(img,label))

In [29]:
tp = []

In [30]:
tp.extend(a)

In [31]:
tp

[('img4', '4'), ('img5', '5'), ('img6', '6')]

In [32]:
img = ['img7','img8','img9']
label = ['7', '8', '9']
a = list(zip(img,label))
tp.extend(a)
tp

[('img4', '4'),
 ('img5', '5'),
 ('img6', '6'),
 ('img7', '7'),
 ('img8', '8'),
 ('img9', '9')]

In [34]:
df = pd.DataFrame(columns=['Image', 'whale_id'], data=tp)

In [35]:
df

  Image whale_id
0  img4        4
1  img5        5
2  img6        6
3  img7        7
4  img8        8
5  img9        9

In [37]:
df2 = pd.read_csv('../data/submission_template.csv')
df2

Empty DataFrame
Columns: [Image, whale_00195, whale_00442, whale_02411, whale_02608, whale_02839, whale_03103, whale_03227, whale_03623, whale_03728, whale_03935, whale_03990, whale_04373, whale_04397, whale_04435, whale_04480, whale_04540, whale_05140, whale_05349, whale_05487, whale_05661, whale_05784, whale_06069, whale_06334, whale_06339, whale_06967, whale_06997, whale_07331, whale_07483, whale_07647, whale_07808, whale_07863, whale_08017, whale_08181, whale_08324, whale_08439, whale_08637, whale_08700, whale_08729, whale_08923, whale_09062, whale_09181, whale_09422, whale_09454, whale_09651, whale_09913, whale_10005, whale_10021, whale_10583, whale_10977, whale_11076, whale_11099, whale_11242, whale_11555, whale_11625, whale_11708, whale_12074, whale_12085, whale_12609, whale_12661, whale_12820, whale_13288, whale_13701, whale_13789, whale_13863, whale_14094, whale_14270, whale_14626, whale_14892, whale_15078, whale_15079, whale_15434, whale_15519, whale_15615, whale_16406, whale_16576, whale_16738, whale_16762, whale_17327, whale_17528, whale_17601, whale_17604, whale_17785, whale_18158, whale_18845, whale_18989, whale_19027, whale_19041, whale_19906, whale_20248, whale_20448, whale_21160, whale_21213, whale_21655, whale_21873, whale_22059, whale_22101, whale_22118, whale_22212, whale_22297, ...]
Index: []

[0 rows x 448 columns]

In [42]:
one_hot = pd.get_dummies(df['whale_id'])
# Drop column B as it is now encoded
df = df.drop('whale_id', axis=1)
# Join the encoded df
df = df.join(one_hot)
df

  Image  4  5  6  7  8  9
0  img4  1  0  0  0  0  0
1  img5  0  1  0  0  0  0
2  img6  0  0  1  0  0  0
3  img7  0  0  0  1  0  0
4  img8  0  0  0  0  1  0
5  img9  0  0  0  0  0  1